/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 4%;
    margin-left: 2%;
    background-color: transparent;
    color: white;
    justify-content: center;
    margin-bottom: 3%;
    margin-top: 1%;

  
  }
  
  .logo {
    
    font-weight: bold;
    width: 26%;
    height: auto;
    padding-left: 5%;
    padding-top: 3%;
    
  }
  
  .navlinks {
    padding-top: 1%;
    padding-right: 5%;
    display: contents;
  }
  
  .navlinks a {
    margin-right: 12%;
    color: white;
    text-decoration: none;
    font-size: 2vh;
  }

  .navlinks a:hover  {
    margin-top: -0.5%;
    margin-right: 12%;
    color: white;
    text-decoration: none;
    font-size: 2vh;
    text-decoration: underline white 3px;
  }

  .profilebutton {
    background-color: transparent;
    border-color: transparent;
    width: 50vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .icon {
    
    font-size: 1.5rem;
    position: right center;
    color: rgba(255, 255, 255, 0.8);
    align-items: center;
    
  }
  

 

  .mobilemenuicon {
    display: none; /* Hidden by default on larger screens */
    font-size: 1.5em;
    cursor: pointer;

  }

  
  
  @media (max-width: 768px) {
    /* Show mobile menu icon and hide regular links on smaller screens */
    .navlinks {
      display: none;
    }
  
    .mobilemenuicon {
      display: block;
    }

  
  
    /* Show mobile menu links when the menu is open */
    .navlinksopen {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 70px; /* Adjust this value according to your design */
      left: 0;
      width: 100%;
      background-color: transparent;
      z-index: 1;
    }
  
    .navlinksopen a {
      color: white;
      padding: 15px;
      text-align: center;
      text-decoration: none;
      border-bottom: 1px solid white;
    }
  }
  
