/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding-top: 2% ;
    margin-right: 3%;
    background-color: transparent;
    color: white;
  }
  
  .logo {
    font-size: 2vh;
    font-weight: bold;
    width: 18%;
    height: auto;
    padding-left: 5%;
    padding-top: 1%;
  }
  
  .navlinks {
    padding-top: 1%;
    padding-right: 8%;
    display: flex;
  }
  
  .navlinks a {
    margin-right: 10%;
    color: white;
    text-decoration: none;
    font-size: 2vh;
  }

  .navlinks a:hover  {
    margin-right: 10%;
    color: white;
    text-decoration: none;
    font-size: 2vh;
    text-decoration: underline white 3px;
  }

  .profilebutton {
    background-color: transparent;
    border-color: transparent;
    width: 3rem;
  
  }

  .mobilemenuicon {
    display: none; /* Hidden by default on larger screens */
    font-size: 1.5em;
    cursor: pointer;

  }

  
  
  @media (max-width: 768px) {
    /* Show mobile menu icon and hide regular links on smaller screens */
    .navlinks {
      display: none;
    }
  
    .mobilemenuicon {
      display: block;
    }

  
  
    /* Show mobile menu links when the menu is open */
    .navlinksopen {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 70px; /* Adjust this value according to your design */
      left: 0;
      width: 100%;
      background-color: transparent;
      z-index: 1;
    }
  
    .navlinksopen a {
      color: white;
      padding: 15px;
      text-align: center;
      text-decoration: none;
      border-bottom: 1px solid white;
    }
  }
  
