
.container {
    position: fixed;
    height: 100vh ;
    width: 30% ;
    background: rgba(0, 38, 100, 0.6);
}

.cat {
    padding-left: 5%;
}

.list {
    padding-left: 15%;
    padding-right: 5%;
}

.logo {

margin-top: 15%;
margin-bottom: 15%;
margin-left: 10%;
margin-right: 8%;
position: sticky;
align-content: center;
width: 60%;
height: 60%;
}