
.container {
    padding-top: 12%;
    position: fixed;
    height: 100vh ;
    width: 25% ;
    background: transparent;
    margin-right: 2%;
}

.cat {

    padding-left: 5%;
    font-size: 3vh;
    font-weight: bolder;
    
    
    
}

.list {
    
    padding-left: 15%;
    padding-right: 5%;
    
}

