:root{
    --bg-image: url('/copia edificios.jpg');
    --text: white;
    --red: red;
    --blue: #002664;
  
}



*{
    margin: 0;
    padding: 0;
    height: fit-content;

}

body {
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: auto;
    color: var(--text);
    background-position:center;

      }
  

a {
    color: inherit;
    text-decoration: none ;
}