@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');

:root{
    
    --text: white;
    --red: red;
    --blue: #002664;
  
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rethink Sans', sans-serif;
   
    

}

body {
    
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: contain;
    color: var(--text);
    position: center;
   
    
   
}
  

a {
    color: var(--text);
    text-decoration: none ;
}

