.container {
    display: flex;
    height: 60em;
    
   
}

.menu {
    flex: 1;
    background-color: rgba(0, 38, 100,0.5);
    padding: 100px;
    height: 100%;

    
}

.content {
    flex: 4;
    padding: 40px;
}