.AppContainer {
    width: 100%;
    height: auto;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
    position:absolute; bottom:0
    
    
}

.Wrapper {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-template-columns:
    repeat(auto-fill);
    overflow-y: hidden;
    overflow-x: hidden;
   
}

.TextCont {
    background-position: center;
    margin-left: 17%;
    margin-right: 10%;
    margin-bottom: 1%;
}




.Note {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 2vh;
    font-weight: 200;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
   
}

.Marquee {
    display: flex;
    width: cover;
    height: 0%;
    overflow-x: hidden; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Disable vertical scrolling */
    user-select: none;
    background-color: rgba(255, 255, 255, 0.5);
}

.MarqueeGroup {
    width: auto;
    flex-shrink: -1;
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    white-space: nowrap;
    animation-name: slideImages;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 25s;
    animation-delay: initial;
    position: relative;
    padding-right: -100%;
    padding-left: 10%;
    user-select: none;
    
}

@keyframes slideImages {
    0% {
        right: -25%;
        
    }
    100% {right: 25%;
        
    }
}

.ImageGroup {
    
    margin-bottom: 0%;
    display: grid;
    flex-direction: row;
    place-items: justify;
    width: clamp(10rem, 1rem + 40vmin, 30rem);
    padding: calc(clamp(5rem, 1rem + 10vmin, 22rem) / 6);
   
}

.Image {
    
    object-fit: contain;
    width: 30%;
    height: 3rem;
    border-radius: 0.5rem;
    padding: 5px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

