/* styles/SwipeSlider.module.css */
.slider {
    margin-top: 1%;
    align-items: center;
    background-position: center;
    margin-left: 32%;
    margin-right: 3%;
    width: 50%;
    height: auto;
    display: flex;
}

.slide {
    
    
    align-content: center;
    background-position: center;
    height: auto;
    
  }

  .container {
   
    display: flexbox;
    
  }
  
  .prev {
    float: left;
    background-color: transparent;
    border:none;
    
  }

  .next {
    float: right;
    background-color: transparent;
    border:none;
  }
    
    .icons {
      color: rgba(255, 255, 255, 0.6);
      font-size: 300%;
    }

  

  